<!DOCTYPE html>
<html lang="en">

{{>links}}

<body>
  {{>navbar}}

  <!-- Main Hedder -->
  <div class="containter-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 max-auto">
        <div class="row">
          <!-- left side -->
          <div class="col-md-6 col-12 main_header_right align-items-center">
            <figure>
              <img src="images/prash.gif" alt="Prashanth" class="img-fluid" title="ON WORKING">
            </figure>
          </div>

          <div class="col-md-6 col-12 main_header_left">
             <img src="images/result.gif" >
            <h1>I Am A 😍 <span class="text_color">MERN</span> Stack Developer</h1>
            <a href="/weather"> <button>ABOUT ME</button> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <footer></footer> -->
{{>footer}}

</body>

</html>