<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
      <div class="containter-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 max-auto">
                <nav class="navbar navbar-expand-lg ">
                    <a class="navbar-brand" href="/"> <i class="fa-solid fa-snowflake"></i> PrashanthWeather <i class="fa-solid fa-snowflake"></i></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/about">About</a>
                          </li>
                          <li class="nav-item active">
                            <a class="nav-link" href="/weather">Weather</a>
                          </li>
                        
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
    </div>

</body>
</html>